@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white;

  @media (prefers-color-scheme: light) {
    color-scheme: light;
  }

  background: #f9f1f1;
  color: #202020;
}

#container {
  display: flex;
  justify-content: flex-start;
}

#content {
  #directory {
    font-size: 28px;
    margin-bottom: 5vh;
  }

  #home {
    display: flex;
    flex-direction: column;
    min-height: 60vh;

    .intro {
      text-align: center;
      font-size: 20px;
      margin: 0 5vw;
    }

    .contactLinks {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      align-items: center;

      font-size: 72px;
      text-align: center;

      .contact-icon {
        display: inline-block;
        margin: 0 15px;
      }
    }

    .disclaimer {
      font-size: 14px;
      text-align: center;
    }
  }

  a:hover {
    background: #EDE6E6;
  }

  a:active {
    background: #D9D2D2;
  }

  margin: 5vh 5vw;
}

.sidenav {
  float: left;
  width: 18vw;
  height: 100vh;
  background:  	#F9F1F1;
  background: linear-gradient(90deg,rgba(249, 241, 241, 1) 0%, rgba(249, 241, 241, 1) 80%, rgba(176, 176, 176, 1) 100%);
  position: relative;
  padding: 10px 10px;

  .navbar-icon {
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
  }

  ul li {
    list-style-type: none;
    margin: 5px 0;
  }

  ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 8px 12px;
    border-radius: 6px;
  }

  ul li a:hover {
    background: linear-gradient(90deg,rgba(237, 230, 230, 1) 0%, rgba(237, 230, 230, 1) 40%, rgba(0, 0, 0, 0) 90%);
  }

  ul li a:active {
    background: linear-gradient(90deg,rgba(217, 210, 210, 1) 0%, rgba(217, 210, 210, 1) 40%, rgba(0, 0, 0, 0) 90%);
  }
}



a {
  color: #707070;
}

ul li a:hover {
  background: #EDE6E6;
}

ul li a:active {
  background: #D9D2D2;
}
